<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="TestPrep">Test Prep Study</a></td>
        <td><a href="D_S_Project">Data Structures Project</a></td>
        <td><a href="CreateTask">Create Task</a></td>
        <td><a href="N@TM">N@TM</a></td>
    </tr>
</table>
<hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Prep
        </a>
